/* Reseteo de márgenes y rellenos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general de la página */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F7FAFC;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Header con título e icono de usuario */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #FFFFFE;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .logo {
    color: #000314;
    margin-left: 10px;
  }

  .cont-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icono-usuario {
      /* padding: 10px 13px; */
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #11aa19;
      border-radius: 50%;
      color: #FFFFFE;
      font-size: 18px;
      margin-right: 10px;
      cursor: pointer;
    }

    nav {
      display: none;
      opacity: 0;
      transition: opacity .3s ease, display .3s ease-in-out allow-discrete;
    }

    &:hover>nav {
      opacity: 1;
      display: block;
    }

    .seccion {
      list-style-type: none;
      margin-top: 10px;
      text-align: center;
      cursor: pointer
    }
  }
}

/* Estilo para el contenedor del mapa */
.map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  z-index:1;
  /* Deja espacio para la sección de preguntas */
}

#map {
  width: 100%;
  height: 100%;
}

.instrucciones {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
  color: #000314;
}

/* Modal */
.cont-modal {
  display:none;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(41, 40, 40,.6);
  z-index: 2;
  .modal {
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 10px;
    background-color: #FFFFFE;
    width: 500px;
    text-align: center;
      
    .cont-pacientes {
      padding:15px 15px;
      display:flex;
      gap:8px;
      flex-direction:column;
      width: 100%;
      max-height: 350px;
      margin-top: 1em;
      border: 1px solid black;
      overflow-y: auto;
      border:none;

      .paciente {
        border-radius:3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: left;
        padding: 1em;
      }
    }
    .botones {
      margin-top: 35px;
      width:100%;
      height:100%;
      display:flex;
      justify-content: space-between;
    }
    .btn-salir, .btn-verEncuestas {
      border:none;
      width:100px;
      border-radius:10px;
      background-color:#0D55F5;
      padding: 8px;
      color:#FFFFFE;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      cursor:pointer;
      font-weight:800;
    }
    .btn-verEncuestas {
      background-color:rgb(37, 196, 16);
      width:150px;
    }
    .btn-verEncuestas:hover {
      transition:.2s;
      background-color:rgb(250, 135, 3);
    }
    .btn-salir:hover {
      transition:.2s;
      background-color:rgb(250, 135, 3);
  }
  }
}

.cont-modal-encuestas{
  position: fixed;
  display:none;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(41, 40, 40,.6);
  z-index: 2;
}

.modal-encuestas {
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 10px;
    background-color: #FFFFFE;
    width: 500px;
    text-align: center;
      
    .cont-encuesta {
      padding:15px 15px;
      display:flex;
      gap:8px;
      flex-direction:column;
      width: 100%;
      max-height: 350px;
      margin-top: 1em;
      border: 1px solid black;
      overflow-y: auto;
      border:none;

      .encuesta{
        display:flex;
        justify-content: space-between;
        border-radius:3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: left;
        padding: 1em;
      }
    }
}
.btn-ver {
  border:none;
  border-radius: 3px;
  padding: 0px 5px;
  background-color:#0D55F5;
  color:white;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.btn-volver {
  margin-top: 35px;
  border:none;
  width:100px;
  border-radius:10px;
  background-color:rgb(37, 196, 16);
  padding: 8px;
  color:#FFFFFE;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  cursor:pointer;
  font-weight:800;
}
.btn-volver:hover {
  transition:.2s;
  background-color:rgb(250, 135, 3);
}

.boxEncuesta {
  z-index:10;
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
  box-shadow: 0 4px 10px;
  background-color: #FFFFFE;
  gap:10px;
}

.contenedorPreguntas {
  display:flex;
  width:500px;
  flex-direction: column;
  padding: 2em;

  gap:10px;
}

.contenedorPreguntas p {
  left:5px;
}

.contenedorPreguntas small {
  left:5px;
  font-weight: bold;
  background-color:rgb(167, 167, 190);
  padding:0px 7px;
  border-radius:3px;
}

.contenedorPreguntas h1 {
  text-align:center;
  padding:15px;
}
.btn-x {
  position: absolute;
  right:5%;
  top: 5%;
  width:20px;
  height:20px;
  cursor: pointer;
}
canvas {
  max-width: 600px;
  max-height: 600px;
}
.contenedor-reportes {
  display: none;
  position:absolute;
  z-index:30;
  top:50%;
  transform:translateY(-50%);
  left:1%;
  background-color: #FFFFFE;
  border-radius: 8px;
  box-shadow: 1px 1px 10px;
  width: 600px;
  height: 650px;
}

.contenedor-reportes button {
  position:absolute;
  right: 1%;
  top: 1%;
  padding: 0px 5px;
  cursor: pointer;
}
.mostrar {
  display:flex;
}
.ocultar {
  display:none;
}